@import "styles/variables.scss";

.button {
  background-color: $color-accent;

  display: inline-flex;
  align-items: center;
  min-height: 52px;
  padding: $space-s $space-l;
  border: none;
  color: $color-white;
  transition: background-color 0.3s ease;
  flex-grow: 1;
  flex-shrink: 0;
  cursor: pointer;

  &:hover {
    background-color: $color-accent-hover;
  }
  &:active {
    background-color: $color-accent-active;
  }
  &:disabled {
    pointer-events: none;
    cursor: default;
  }
  &__loader {
    flex-shrink: 0;
    margin-right: 8px;
    color: currentColor;
  }
}

.disabled {
  background-color: $color-light-grey;
}
