.card {
  $card-width: 360px;

  width: 100%;
  max-width: $card-width;
  background-color: var(--color-white);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow);
  }

  &__image {
    width: $card-width;
    height: $card-width;
    object-fit: cover;
  }

  &__body {
    padding: 48px var(--space-xs);
  }

  &__caption {
    margin-bottom: var(--space-xxs);
  }

  &__title {
    height: 48px;
  }

  &__subtitle {
    height: 60px;
    margin-top: var(--space-xxs);
  }

  &__footer {
    display: flex;
    align-items: center;
    margin-top: var(--space-l);
  }

  &__action {
    padding-left: var(--space-xxs);
    margin-left: auto;
  }
}
