@import "styles/variables.scss";

.content {
  max-width: 1240px;
  margin: 0 auto;
  height: 100%;
  padding: 15px;
  @media (max-width: 600px) {
    max-width: 100%;
  }
}

.wrapper {
  background: $color-bg;
  min-height: calc(100vh - $header-height);
}
