// @import "styles/variables.scss";

.content {
  width: 1240px;
  margin: 0 auto;
  height: 100%;
}

// .wrapper {
//   // background: $color-bg;
//   // min-height: calc(100vh - $header-height);
// }
