.header {
  height: var(--header-height);
  background-color: var(--color-white);
  border-bottom: 2px solid #f3f3f3;
  & .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar {
  & * {
    margin-right: 24px;
  }
  & *:last-child {
    margin-right: 0;
  }
}
