.icon {
  display: inline-block;
  flex-shrink: 0;
  color: currentColor;
}

// colors
.primary {
  color: var(--color-primary);
}
.secondary {
  color: var(--color-secondary);
}
.accent {
  color: var(--color-accent);
}
