.products {
  padding-top: 100px;
}

.secondary_text {
  max-width: 650px;
  margin: 0 auto;
  margin-top: 24px;
}

.search {
  display: flex;
  justify-content: space-between;
  column-gap: var(--space-xl);
}
