@import "styles/variables.scss";

.products {
  padding: 100px 0;
  .filter {
    max-width: 300px;
    margin-top: $space-xl;
    margin-bottom: 48px;
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: $space-xl;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
  }

  &__card {
    &:nth-child(3n + 2) {
      justify-self: center;
    }
    &:nth-child(3n + 3) {
      justify-self: end;
    }
  }
}

.secondary_text {
  max-width: 650px;
  margin: 0 auto;
  margin-top: 24px;
}

.search {
  display: flex;
  justify-content: space-between;
  column-gap: $space-xl;
  margin-top: 48px;
}

.total {
  font-size: 32px;
  line-height: 48px;
  display: inline-block;
}
